
@{
    ViewData["Title"] = "Index";
}

@section Styles
    {

    <link href="~/vendor/centit.easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/vendor/centit.easyui/themes/icon.css" rel="stylesheet" />
}
@section Scrips{
    <script src="~/app/Shared/app.js"></script>
    <script src="~/vendor/bootbox/bootbox.js"></script>
    <script src="~/vendor/centit.easyui/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product/index.js" asp-append-version="true"></script>
    <script>
        var productController = new productController();
        productController.initialize();
    </script>
}
<div class="page-title">
    <div class="title_left">
        <h3>List Products</h3>
    </div>

    <div class="title_right">
        <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Go!</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 form-group pull-right">
            <select class="form-control" id="ddlCategorySearch">
                <option>--Select Category--</option>
            </select>
        </div>
        <div class="col-md-6 col-xs-12 form-group pull-right">
            <button id="btnCreate" class="btn btn-success">Create</button>
            <a class="btn btn-danger" href="~/templates/ProductImportTemplate.xlsx">Template</a>
            <button class="btn btn-primary" id="btn-import" type="button">Import</button>
            <button id="btnExport" class="btn btn-info" type="button">Export</button>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>CreatedDate</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="table-content"></tbody>
                </table>

                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                records per page.
                            </span>
                            Total records: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-template-mustache">
    <tr>
        <th scope="row">
            <button class="btn btn-default btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </th>
        <td>{{Name}}</td>
        <td>{{Category}}</td>
        <td>{{Price}}</td>
        <td>{{{Image}}}</td>
        <td>{{CreatedDate}}</td>
        <td>{{{Status}}}</td>
    </tr>
</script>
@Html.Partial("_AddEditModal.cshtml")
@Html.Partial("_ImportExcelModal.cshtml")
